<footer class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="span4 widget">
        <div class="about-widget">
          <h7>adhityaekaprakoso@gmail.com</h7>
        </div>
      </div>
      <div class="span8 widget">
        <div class="twitter-widget">
          <h7>
            <a href="https://www.instagram.com/adzyyyt?igsh=aWxmam5zNmE2N2pt" target="_blank">instagram</a>
            &nbsp; • &nbsp;
            <a href="https://www.linkedin.com/in/adhitya-eka-prakoso-727060250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">linkedin</a>
            &nbsp; • &nbsp;
            <a href="https://github.com/Adhityaekp" target="_blank">github</a>
          </h7>
        </div>
      </div>
    </div>
  </div>
</footer>